

<div ng-controller="DungeonCtrl">
    <div ng-repeat="dungeon in dungeons" style="position:relative;height:{{dungeon.height/2|number:0}}px;">
        <h3 style="position:absolute;z-index:1;">{{dungeon.name}}</h3>
        <div style="position:absolute;top:0px;left:0px;width:{{dungeon.width/2|number:0}}px;height:{{dungeon.height/2|number:0}}px;">
            <img src="images/dungeons/{{dungeon.name}}.png" style="width:{{dungeon.width/2|number:0}}px;height:{{dungeon.height/2|number:0}}px;"/>
        </div>
        <div ng-repeat="constructionSite in dungeon.constructionSites"
             style="width:40px;height:40px;position:absolute;left:{{constructionSite.x/2|number:0}}px;top:{{constructionSite.y/2|number:0}}px;">
            <img src="images/tower/TOWER_BASE.png" style="height:40px;width:40px;" />
        </div>
    </div>
</div>