<form action="/login" method="post" >
    <input type="text" name="userName" value="name" class="textfield" maxlength="100" />
    <input type="password" name="password" value="password" class="textfield" maxlength="100" />
    <div id="login-section">
        <div class="lcheck"></div>
        <div class="llayout">&nbsp;</div>
        <div class="lbutton"><submit name="submit" value="" class="text-btn left" style="width:64px;" /></div>
        <div class="clear"></div>
    </div>
    <span class="wrapper"><!-- &nbsp; --></span>
    <span class="divider"><!-- &nbsp; --></span>
    <a href="/mailpassword" class="text-btn clear" style="width:194px; background-position:left -21px;" ><!-- &nbsp; --></a>
    <a href="/register" class="text-btn clear" style="width:197px; background-position:left -42px;" ><!-- &nbsp; --></a>
</form>