<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Online Tower Defense</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online Tower Defense">
    <meta name="author" content="overwatch.de">

    <link rel="icon" type="image/png" href="favicon.png">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='assets/demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='styleswitcher'>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="assets/css/668b0601.ie8.css">
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <script type='text/javascript' src='assets/plugins/misc/placeholdr.js'></script>
    <![endif]-->

    <!--[if IE 9]>
    <script type="text/javascript" src="assets/plugins/misc/media.match.min.js"></script>
    <![endif]-->

    <!-- The following CSS are included as plugins and can be removed if unused-->

    <link rel="stylesheet" href="assets/css/1b859e5a.vendor.css"/>

    <link rel="stylesheet" href="assets/css/c8472f88.main.css"/>

    <style type="text/css">
        [ng-cloak] {
            display: none;
        }
        .topNegative1000 {
            top: -1000px !important;
        }
        .topZero {
            top: 0 !important;
        }

        .mainview-animation {
            position: relative;
        }
        .mainview-animation.ng-enter {
            -webkit-transition: .3s linear all; /* Safari/Chrome */
            -moz-transition: .3s linear all; /* Firefox */
            -o-transition: .3s linear all; /* Opera */
            transition: .3s linear all; /* IE10+ and Future Browsers */
        }

        .mainview-animation.ng-enter{
            opacity: 0;
        }

        .mainview-animation.ng-enter.ng-enter-active {
            opacity: 1;
        }

        .navbar.navbar-default.ng-hide {
            display: none;
        }
        .fc-grid .fc-day-number {
            padding: 5px 6px;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="assets/demo/variations/header-midnightblue.css">
    <link rel="stylesheet" type="text/css" href="assets/demo/variations/sidebar-gray.css">
</head>

<body class=""
      ng-app="themesApp"
      ng-controller="MainController"
      ng-class="{
              'static-header': !style_fixedHeader,
              'focusedform': style_fullscreen,
              'layout-horizontal': style_layoutHorizontal,
              'fixed-layout': style_layoutBoxed,
              'collapse-leftbar': style_leftbarCollapsed && !style_leftbarShown,
              'show-rightbar': style_rightbarCollapsed,
              'show-leftbar': style_leftbarShown
            }"
      ng-cloak
        >



<header class="navbar navbar-inverse" ng-class="{'navbar-fixed-top': style_fixedHeader, 'navbar-static-top': !style_fixedHeader}" role="banner">
    <ul class="nav navbar-nav pull-right toolbar">
        <li class="dropdown" ng-show="!isLoggedIn" style="margin-right:40px;">
            <a href="#/user/login" style="font-size: 14px"><i class="fa fa-sign-in"></i> Log in</a>
        </li>
        <li class="dropdown" ng-show="!isLoggedIn">
            <a href="#/user/register" style="font-size: 14px"><i class="fa fa-user"></i><i class="fa fa-plus" style="font-size: 8px;vertical-align: top;"></i> Register</a>
        </li>
        <li class="dropdown" ng-show="isLoggedIn" style="margin-right:40px;" ng-controller="HeaderUserBarController">
            <a href="#/user/edit" class="dropdown-toggle username"><span class="hidden-xs">User: {{$parent.activeUser.username}}</span></a>
            <ul class="dropdown-menu userinfo arrow">
                <li class="userlinks">
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit Profile <i class="pull-right fa fa-fw fa-pencil"></i></a></li>
                        <li class="divider"></li>
                        <li><a class="text-right" ng-click="logOut()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</header>

<div id="page-container" class="clearfix">

    <!-- BEGIN SIDEBAR -->
    <nav id="page-leftbar" role="navigation">

        <div style="height: 120px;background-image: url(http://overwatch.de/level/live/portal/campaigns/tutorials.jpg);background-size: 100% 100%"></div>

        <div>
            <ul ng-controller="NavigationController" id="sidebar" sticky-scroll="40">
                <li ng-repeat="item in menu"
                    ng-show="isLoggedIn || !item.authorized"
                    ng-class="{ hasChild: (item.children!==undefined),
                                    active: item.selected,
                                      open: (item.children!==undefined) && item.open }"
                    ng-include="'templates/nav_renderer.html'"
                        ></li>
            </ul>
        </div>
        <!-- END SIDEBAR MENU -->
    </nav>

    <div id="page-content" class="clearfix" fit-height>
        <div id="wrap" ng-view="" class="mainview-animation">
        </div> <!--wrap -->
    </div> <!-- page-content -->

    <footer role="contentinfo">
        <div class="clearfix">
            <button class="pull-right btn btn-default btn-xs hidden-print" back-to-top style="padding: 1px 10px;"><i class="fa fa-angle-up"></i></button>
        </div>
    </footer>

</div> <!-- page-container -->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->



<script src="scripts/3687e45f.vendor.js"></script>


<script src="scripts/controllers/UsersInRangeController.js"></script>
<script src="scripts/controllers/NavigationController.js"></script>
<script src="scripts/controllers/LoginController.js"></script>
<script src="scripts/controllers/HeaderUserBarController.js"></script>
<script src="scripts/controllers/UserStatisticsController.js"></script>
<script src="scripts/controllers/RegisterController.js"></script>

<script src="scripts/services/Base64Service.js"></script>
<script src="scripts/services/AuthenticationService.js"></script>
<script src="scripts/services/UserService.js"></script>
<script src="scripts/services/ActiveUserService.js"></script>
<script src="scripts/services/PinesNotification.js"></script>

#<script src="scripts/util/HttpInterceptors.js"></script>
<script src="scripts/util/Constants.js"></script>

<script src="scripts/0f7c48f3.scripts.js"></script>

<script src="scripts/app.js"></script>

</body>
</html>
