<div id="page-heading">
    <!-- <ol class="breadcrumb">
        <li class='active'><a href="index.htm">Dashboard</a></li>
    </ol> -->

    <h1>Edit User</h1>

</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <panel panel-class="panel-primary" data-heading="User Details">

                There is currently nothing to edit on a user, beside password changes, which will come later.

            </panel>

        </div>
    </div>
</div>


