<div id="page-heading">
    <!-- <ol class="breadcrumb">
        <li class='active'><a href="index.htm">Dashboard</a></li>
    </ol> -->

    <h1>Dashboard</h1>

</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-controller="UserStatisticsController">
                <div class="col-md-3 col-sm-6">
                            <span class="info-tiles tiles-midnightblue" href="#">
                                <div class="tiles-heading">
                                    <div class="pull-left">Score</div>
                                    <div class="pull-right"></div>
                                </div>
                                <div class="tiles-body">
                                    <div class="pull-left"><i class="fa fa-money"></i></div>
                                    <div class="pull-right">{{$parent.activeUser.score}}</div>
                                </div>
                            </span>
                </div>
                <div class="col-md-3 col-sm-6">
                            <span class="info-tiles tiles-midnightblue" href="#">
                                <div class="tiles-heading">
                                    <div class="pull-left">Rank</div>
                                    <div class="pull-right"></div>
                                </div>
                                <div class="tiles-body">
                                    <div class="pull-left"><i class="fa fa-star"></i></div>
                                    <div class="pull-right"># {{$parent.activeUser.rank}}</div>
                                </div>
                            </span>
                </div>
                <div class="col-md-3 col-sm-6">
                            <span class="info-tiles tiles-midnightblue" href="#">
                                <div class="tiles-heading">
                                    <div class="pull-left">Attack</div>
                                    <div class="pull-right">success: {{(100*userStatistics.attacksWon/userStatistics.attacksTotal)| number:1}}%</div>
                                </div>
                                <div class="tiles-body">
                                    <div class="pull-left"><i class="fa fa-bolt"></i></div>
                                    <div class="pull-right">{{userStatistics.attacksTotal}}</div>
                                </div>
                            </span>
                </div>
                <div class="col-md-3 col-sm-6">
                            <span class="info-tiles tiles-midnightblue" href="#">
                                <div class="tiles-heading">
                                    <div class="pull-left">Defense</div>
                                    <div class="pull-right">success: {{(100*userStatistics.defendsWon/userStatistics.defendsTotal)| number:1}}%</div>
                                </div>
                                <div class="tiles-body">
                                    <div class="pull-left"><i class="fa fa-shield"></i></div>
                                    <div class="pull-right">{{userStatistics.defendsTotal}}</div>
                                </div>
                            </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-controller="UserInRangeController">
        <div class="col-md-12">

            <panel panel-class="panel-primary" data-heading="Players in your range">

                <div style="height: 540px;" ng-grid="gridOptions"></div>

            </panel>

        </div>
    </div>
</div>


