<div id="page-heading">
    <!-- <ol class="breadcrumb">
        <li class='active'><a href="index.htm">Dashboard</a></li>
    </ol> -->

    <h1>Home</h1>

</div>


<div class="container-fluid" ng-controller="DungeonController">

    <div class="row">
        <div class="col-md-8" style="height:600px;overflow:hidden;" id="dragContainer">

            <div data-drag="true" jqyoui-draggable style="position:absolute;cursor:move;height:{{dungeonBlueprint.height}}px;width:{{dungeonBlueprint.width}}px;background-image:url(assets/gameimages/dungeons/{{dungeonBlueprint.name}}.png);">

                <div ng-repeat="site in dungeonBlueprint.constructionSites"
                     ng-click="constructionSiteClicked(site.id)"
                     style="position:absolute;top:{{site.y}}px;left:{{site.x}}px;background-image:url(assets/gameimages/tower/TOWER_BASE.png);height:80px;width:80px;z-index:0;cursor:pointer;"   >
                </div>

                <div ng-repeat="tower in dungeon.towers"
                     ng-click="towerClicked(tower.id)"
                     style="position:absolute;top:{{tower.y}}px;left:{{tower.x}}px;background-image:url(assets/gameimages/tower/TOWER_{{tower.type}}.png);height:80px;width:80px;z-index:10;cursor:pointer;"   >
                </div>

            </div>

        </div>

        <style type="text/css">
            .tower_selected {
                border-radius: 50%;
                width: 70px;
                height: 70px;
                background-color: green;opacity: 0.1;
                position:absolute;top:5px;left:5px;
            }
        </style>

        <div class="col-md-4">
            <panel style="height:600px;" panel-class="panel-primary" data-heading="Tower Details">

                <div style="position:relative;min-height: 100px;" ng-repeat="blueprint in towerBlueprints">
                    <h4 style="color: #656b79; padding-bottom: 5px; padding-left: 0px;">{{blueprint.type}}</h4>
                    <div style="position:absolute;top:70px;height:80px;width:80px;">

                        <div ng-class="{tower_selected: blueprint.selected}"></div>
                        <div style="position:absolute;top:0px;left:0px;background-image:url(assets/gameimages/tower/TOWER_{{blueprint.type}}.png);height:80px;width:80px;"></div>

                    </div>
                    <div style="margin-left:100px;">

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>damage</td>
                                <td>{{blueprint.damage}}</td>
                            </tr>
                            <tr>
                                <td>time to reload</td>
                                <td>{{blueprint.timeToReload}}</td>
                            </tr>
                            <tr>
                                <td>attack range</td>
                                <td>{{blueprint.attackRange}}</td>
                            </tr>
                            <tr>
                                <td>price</td>
                                <td>{{blueprint.price}}</td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>

            </panel>
        </div>
    </div>
</div>


