


<div class="container-fluid">

    <div class="row">


        <div class="col-md-3"></div>
        <div class="col-md-6">

            <panel panel-class="panel-primary" data-heading="Login">

                <form ng-submit="processForm()" class="form-horizontal" ng-controller="LoginController">
                    <div class="form-group">
                        <label for="loginForm_username" class="control-label col-sm-4" style="text-align: left;">Username</label>
                        <div class="col-sm-8">
                            <input name="username"
                                   id="loginForm_username"
                                   type="text"
                                   placeholder="Username"
                                   required
                                   ng-model="loginForm.username"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loginForm.password" class="control-label col-sm-4" style="text-align: left;">Password</label>
                        <div class="col-sm-8">
                            <input name="password"
                                   id="loginForm.password"
                                   type="password"
                                   placeholder="Password"
                                   required
                                   ng-model="loginForm.password"
                                   class="form-control">
                        </div>
                    </div>
                    <button class="btn-primary btn btn-block">Login</button>
                </form>

                <div class="panel-footer">
                    <a href="#/" class="pull-left btn btn-link" style="padding-left:0">Forgot password?</a>
                    <br /><br />
                </div>
            </panel>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>


